caption {
    font-size: 20px;
    font-weight: 200;
    color: #08C;
}

th {
 text-align : left;   
}

.show_loading_in_right {
  background-image: url('../img/load2.gif');
  background-repeat:no-repeat;
  background-position:right top;
}